body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
}

img {
  width: 100%;
}

#root,
.email--button,
.linkedin--button {
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  max-width: 16%;
}

.info--section {
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

.info--section h2 {
  margin: 0.3em auto 0.1em auto;
}

.info--section p {
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.job-title {
  color: #f47d27;
  font-weight: bold;
}

.info--buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1.3em;
  padding: 0.4em 2em 0 2em;
}

.email--button,
.linkedin--button {
  padding: 0.6em;
  min-width: 38%;
  font-weight: bold;
  border: none;
}

.email--button:hover,
.linkedin--button:hover {
  cursor: pointer;
  opacity: 0.8;
}

i {
  margin-right: 0.2em;
}

.email--button {
  background-color: white;
}

.linkedin--button {
  background-color: rgb(39, 120, 233);
  color: white;
}

.about--section,
.interests--section {
  margin: 1.3em;
}

.footer--section {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  background-color: #d5d4d8;
  padding: 0.6em 0 0.3em;
}

.footer--section i {
  font-size: 1.6rem;
  color: grey;
}

@media (min-width: 350px) {
  #root {
    max-width: 100%;
  }
}
